diplom.bib
diplomarbeit.aux
diplomarbeit.lof
diplomarbeit.log
diplomarbeit.lot
diplomarbeit.out
diplomarbeit.pdf
diplomarbeit.toc
diplomarbeit.bbl
diplomarbeit.ilg
diplomarbeit.ind
diplomarbeit.blg
*.md.tex
diplomarbeit.idx
.pdf
diplom.bib